/* Default navbar styles */
.navbar {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

/* When scrolled: background black and link white */
.navbar.scrolled {
  background-color: #7bbdc3 !important;
  transition: background-color 0.3s ease;
  color: #ffffff;
}

/* Default nav link */
.navbar .nav-link {
  color: #333;
  transition: all 0.3s ease;
}

/* On scroll - link becomes white */
.navbar.scrolled .nav-link {
  color: #ffffff !important;
}

/* Active or hover effect in scrolled mode */
.active {
  background-color: rgb(237, 146, 146) !important;
  color: white !important;
  border-radius: 0.5rem;
  transition: 0.3s ease;

}

.navbar-nav .nav-link.active {
  background-color: #6197e9; /* Bootstrap primary color */
  color: white !important;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

